/*home.css*/

html,
body{
    height: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #636f73
}

h1,h2,h3,h4,h5{
    color: #333;
}

h6{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote{
    color: #333;
    font-size: 1.6rem;
    border: none;
    padding 0;
}

.blockquote-footer{
    margin 1rem 0 0;
}

#stage{
    background: url('images/workspace.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
}

#stage-caption{
font-size: 1.4rem;
font-weight: 200;
max-width: 60rem;
margin: 0 auto;
    text-align: center;
    }
#stage-caption h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    
}

button{
/*    display: inline;*/
    background-color: transparent;
    border: solid 1px #f2f2f2;
    padding: 14px 32px 14px 32px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}

button a:link{
    color: #EDEDED;
}
button a:visited{
    color: #ededed;
}
button a:hover{
    color: white;
}
button a:active{
    color: #EDEDED;
}
